*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: black;
}
.container{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%) ,url("background.jpg");
    width: 100%;
    height: 100vh;
   
}
.navbar{
    height: 90px;
    width: 100%;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 75px;
    width: 150px;
    margin-left: 120px;
    margin-top: 20px;
}
.logo .logoimg{
    height: 75px;
    width: 150px;
}
.keys{
 margin-right: 100px;
}
.abc{
  margin-top: 20px;
  height: 40px;  
  width: 125px;
  border-radius:5px ;
  font-size: 1rem;
  margin-right: 10px; 
  border: none;
  font-weight: 600;
  
}
.cd{
   background-color: red;
   color: white;
   width:100px ; 
   opacity: 0.7;
}
.cd:hover{
   opacity: 1;
}
.ad{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.ad i{
    padding: 4px 4px 4px 4px;
}

 .middle{ 
    
    color: #ffff;
      margin-left: 10px;  
      margin-top: 250px;   
     text-align: center;   
}
.middle h1{
    color: #ffff;
     
     font-size: 60px;
    margin-bottom: 10px;    
}

p{
    margin-bottom: 10px;
    font-size: 20px;
}
.p1{
    font-size: 30px;
}

.email{
    margin: auto;
    text-align: center;
    /* width: 150px; */
    /* height: 15px; */
}
.input{
    width: 376px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    /* background-color: transparent; */
}
.start{
    height: 50px;
    width: 200px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    opacity: 0.7;
}
.start:hover{
    opacity: 1;
}

.section{
   
}

.block{
    height: 500px;
    color: white;
    border-top: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.block .tvp{
    height: 370px;
    width: 470px;
}
.jon{
    height: 220px;
    width:390px ;
    position: relative;
    left: 920px;
    bottom: 370px;
    z-index: -1;
}

.text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}
.text p{
    font-size: 30px;
}
.text1{
    color: white;
    border-top: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    /* margin: 50px; */
     
}
.text1 h1{
    margin: 40px ; 
}

.ques{
    display: flex;
    display: block;
   
    margin-bottom: 35px;
    
}
.ques button{
    background-color:  rgb(61, 59, 59);
    width:970px ;
    height: 90px;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-left: 300px;
    opacity: 0.7;
}
.ques button:hover{
    opacity: 4;
}
.ques p{
    margin-top: 30px;
    margin-left: 310px;
    color: white;
    font-size: 25px;
}
.input1{
    width: 376px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.start1{
    height: 50px;
    width: 200px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    opacity: 0.7;
}
.start1:hover{
    opacity: 1;
}

.footer2{
    color: black;
    border-top: 5px solid gray;
    
}
